# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written to a build directory outside the project,
#  but in case you have decided to store them within the project,
#  add these lines to your .gitignore file:
#
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.po

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Celery stuff
celerybeat-schedule

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE
.idea/
.vscode/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# dotenv
.env

# Cache
.cache

# Mac OS
.DS_Store
HackForCities/